<html>
    <head>
        <link rel = "stylesheet" href="/static/home.css">
        <style>
            body {
                background-image:url("../../static/back1.jpg");
                }
        </style>
    </head>
    <body>
        <div class = header>
            THREADS

        </div>
        <a href="/stocks"><button class = button>Stocks</button></a>
        <a href="/order"><button class = button>Orders</button></a>
        <a href="/product"><button class = button>Products</button></a>
        
    </body>
</html>