<html>
    <style>
        body {
            background-image:url("../../static/back1.jpg");
            }
    </style>
    <h2>EMPLOYEE UPDATE</h2>

        <form action="" method='POST'>
        <label for="Name">Name:</label><br>
        <input type="text" id="Name" name="Name"><br>
    
        <label for="Age">Age:</label><br>
        <input type="text" id="Age" name="Age"><br>

        <label for="Gender">Gender:</label><br>
        <input type="text" id="Gender" name="Gender"><br>

        <label for="Salary">Salary:</label><br>
        <input type="text" id="Salary" name="Salary"><br>

        <label for="Phno">Phno:</label><br>
        <input type="text" id="Phno" name="Phno"><br>

        <label for="Dept">Dept:</label><br>
        <input type="text" id="Dept" name="Dept"><br>

        <input type="submit" value="Submit">
    </form> 

    <p>THE DATA ENTERED WILL BE UPDATED IN THE INFO TABLE</p>

</html>
