<html>
    <style>
        body {
            background-image:url("../../static/back1.jpg");
            }
    </style>
    <h2>ORDER UPDATE</h2>

        <form action="" method='POST'>
        <label for="Order_Id">Order_Id:</label><br>
        <input type="text" id="Order_Id" name="Order_Id" value="MT_21"><br>
    
        <label for="Cust_Id">Cust_Id:</label><br>
        <input type="text" id="Cust_Id" name="Cust_Id" value="ABC101"><br>

        <label for="Items">items:</label><br>
        <input type="text" id="items" name="Items" value="Top"><br>

        <label for="Quantity">Quantity:</label><br>
        <input type="text" id="Quantity" name="Quantity" value="48"><br>

        <label for="Cost">cost:</label><br>
        <input type="text" id="Cost" name="Cost" value="480"><br>

        <input type="submit" value="Submit">
    </form> 

    <p>THE DATA ENTERED WILL BE UPDATED IN THE STOCK TABLE</p>

</html>
