<html>
    <head>
        <link rel = "stylesheet" href="/static/home.css">
    </head>
    <a href="/product/add"><button class = button>Insert</button></a>
    <a href="/product/remove"><button class = button>Remove</button></a>
    <style>
        body {
            background-image:url("../../static/back1.jpg");
            }
    </style>
    <body>
        <table class= "table"> 
            <thead>
                <tr>
                    <th>Prod_Id</th>
                    <th>Prod_Name</th>
                    <th>Category</th>
                    <th>Colour</th>
                    <th>Section</th>
                    <th>Quantity</th>
                    <th>Material</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for row in value %} 
                <tr> 
                    <td>{{row[0]}}</td> 
                    <td>{{row[1]}}</td> 
                    <td>{{row[2]}}</td> 
                    <td>{{row[3]}}</td> 
                    <td>{{row[4]}}</td> 
                    <td>{{row[5]}}</td> 
                    <td>{{row[6]}}</td> 
                    <td>{{row[7]}}</td> 
                </tr> 
                {% endfor %} 
            </tbody>
        </table>
        <button class = 'button' onclick="goBack()">Home</button></a>
    </body>
    <script>
        function goBack() {
          window.history.back();
        }
    </script>
</html>