<html>
    <style>
        body {
            background-image:url("../../static/back1.jpg");
            }
    </style>
    <h2>PRODUCT UPDATE</h2>

        <form action="" method='POST'>
        <label for="Prod_Id">Prod_Id:</label><br>
        <input type="text" id="Prod_Id" name="Prod_Id" value="MT_21"><br>
    
        <label for="Prod_Name">Prod_Name:</label><br>
        <input type="text" id="Prod_Name" name="Prod_Name" value="Shirt"><br>

        <label for="Category">Category:</label><br>
        <input type="text" id="Category" name="Category" value="Top"><br>

        <label for="Colour">Colour:</label><br>
        <input type="text" id="Colour" name="Colour" value="Blue"><br>

        <label for="Section">Section:</label><br>
        <input type="text" id="Section" name="Section" value="Male"><br>

        <label for="Quantity">Quantity:</label><br>
        <input type="text" id="Quantity" name="Quantity" value="48"><br>

        <label for="Material">Material:</label><br>
        <input type="text" id="Material" name="Material" value="Cotton"><br>

        <label for="Price">Price:</label><br>
        <input type="text" id="Price" name="Price" value="500"><br>

        <input type="submit" value="Submit">
    </form> 

    <p>THE DATA ENTERED WILL BE UPDATED IN THE PRODUCT TABLE</p>

</html>
